@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #f5f5f5 !important;
}

html, #root {
  background: transparent !important;
  width: 100%;
  height: 100%;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}